.profile-container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.profile-card {
  width: 900px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

/* HEADER */

.artist-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 16px;
}

.artist-header h1 {
  margin: 0;
  font-size: 32px;
}

.artist-header p {
  color: #666;
  margin-top: 5px;
}

/* SECTIONS */

.artist-section {
  margin-bottom: 30px;
}

.artist-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 0px;
}

.artist-section p {
  line-height: 1.6;
  font-size: 16px;
}

/* MEDIUMS */

.mediums {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.medium-tag {
  border: 1px solid black;
  color: rgb(0, 0, 0);
  padding: 6px 50px;
  border-radius: 20px;
  font-size: 20px;
  margin: 15px;
}

/* ARTWORK GRID */

.artwork-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.artwork-card {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.artwork-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 6px;
}

/* BUTTONS */

.artist-actions {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.artist-actions button {
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin: 20px;
}

.artist-actions button:first-child {
  background: black;
  color: white;
}

.artist-actions button:last-child {
  background: white;
  border: 1px solid black;
}

/* MOBILE */

@media (max-width: 768px) {
  .profile-container {
    padding-top: 80px;
  }

  .profile-card {
    width: 100%;
    padding: 16px;
    border-radius: 0;
    box-shadow: none;
  }

  .artist-header h1 {
    font-size: 22px;
  }

  .artist-header p {
    font-size: 14px;
  }

  .artist-section h2 {
    font-size: 16px;
  }

  .artist-section p {
    font-size: 14px;
  }

  .medium-tag {
    padding: 4px 16px;
    font-size: 14px;
    margin: 4px;
  }

  .artwork-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .artist-actions button {
    margin: 8px;
    padding: 8px 16px;
  }
}
